* {
    box-sizing: border-box;
}

:root {
    --primary-color: #EDC710;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.main-content {
    width: 1243px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.main-content .line {
    text-align: center;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* input */

input {
    outline: none;
    font-family: inherit;
}

.input-text {
    margin-left: 56px;
    position: relative;

}

.input-text input,
.input-text label {
    font-size: 14px;
}

.input-text input {
    width: 259px;
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 18px;
    transition: border-color 0.2s;
}

.input-text input:focus {
    border-color: var(--primary-color);
}

.input-text input:focus+label,
.input-text input:not(:placeholder-shown)+label {
    translate: 0 -28px;
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

.input-text input:focus+label {
    color: var(--primary-color);
}

.input-text label {
    position: absolute;
    top: 50%;
    left: 7px;
    padding: 0 5px;
    translate: 0 -50%;
    /* background: #fffcf4; */
    color: #666;
    transition: translate, color, text-shadow;
    transition-duration: 0.2s;
    pointer-events: none;
}

/* Header */
.header {
    background: #0F4542;
}

.header.fixed {
    position: sticky;
    top: -10px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 18px 0 8px;
}

.header .logo {
    width: 165px;
    height: 65px;
    object-fit: cover;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 100px;
}

.header .action {
    position: relative;
    margin-left: 49px;
}

.header .action__cart {
    position: relative;
}

.header .action__cart .total-cart {
    position: absolute;
    top: 18px;
    left: 18px;
    color: #f00;
    font-weight: 500;
}

.header .search {
    margin-left: 58px;
    margin-right: 18px;
    padding: 10px;
    outline: none;
    border-radius: 18px;
    border: 1px solid #F0F0F0;
    width: 259px;
    height: 30px;
}

/* Hero */

.hero-header {
    display: flex;
}

.hero {
    padding: 17px 0 65px;
    background: #fffcf4;
    height: auto;
    /* margin-top: 18px; */
}

.hero__left {
    margin-right: 16px;
    width: 18%;
}

.hero__left--catalog {
    position: relative;
    width: 232px;
    background-color: #eee;
    border-radius: 8px;
}


.hero__left--catalog li {
    display: flex;
    align-items: center;
    padding: 9px;
    gap: 18px;
    cursor: pointer;
    border-bottom: 0.5px solid #ccc;
}


.hero__left--catalog li a {
    color: #000;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8;
}

.hero__left--catalog li:hover {
    opacity: 0.5;
    border-bottom: 1px solid #111;
}

.hero .hero__right {
    width: 82%;
    /* background: #000; */
    /* height: 100vh; */
}


.row {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.hero__right--top {
    gap: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 65px; */
    border-radius: 7px;
    background: linear-gradient(90deg, #4FC4F6 0%, rgba(0, 172, 246, 0.58) 27.44%, rgba(44, 185, 246, 0.81) 47.68%, rgba(0, 169, 241, 0.38) 68.27%, rgba(18, 136, 186, 0.66) 94.31%);
}

.hero__right--commit {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commit__desc {
    width: 189px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.right--center__left {
    margin-top: 10px;
    display: flex;
}

.right--center__right--img {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.right--center__right--img~a img {
    margin-top: -10px;
}


.right--center__right--img .buy-now {
    position: absolute;
    top: 133px;
    right: 28px;
}

.buy-now-btn {
    min-width: 100px;
    line-height: 34px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 24.5px;
    background: #105D8E;
}


.hero__right--bottom {
    display: flex;
    align-items: center;
    position: relative;
}

.hero__right--bottom img {
    margin-top: 11px;
}

.hero__right--bottom .img2 {
    translate: -12;
}

.hero__right--bottom .buy-now {
    position: absolute;
    bottom: 16px;
    right: 86px;
}

/* open menu  */


.menu {
    position: absolute;
    display: none;
}


#open:checked+.menu {
    display: block;
}

/* */
.main-menu {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 20px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 2;
    gap: 24px;
    margin-top: 55px;
}

.popular .course-item {
    position: relative;
    flex: 1;
    background: #ffffff;
    /* border: 1px solid #e2dfda; */
    border-radius: 12px;
    transition: scale 500ms ease-in-out, color 200ms ease-out;
}

.popular .course-item:hover {
    scale: 1.05;
}

.popular .course-item .thumb {
    width: 100%;
    /* height: 211.185px; */
    object-fit: cover;
    /* border: 1px solid #ccc; */
    border-radius: 16px 16px 0px 0px;
}


.popular .course-item .line-clamp {
    color: #171100;
    margin: 18px 0px;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.popular .course-item .foot {
    margin: 10px;
}

.popular .course-item .foot .price {
    color: #105D8E;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-left: 2px;
}

.popular .course-item .foot .rating {
    position: absolute;
    top: 0;
    left: 0;
}

.popular .course-item .foot .rating .star {
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);

}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}


.popular .course-item .book-btn {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    background: var(--primary-color);
    line-height: 2.5;
    border: none;
}


.popular .course-item:hover .book-btn {
    background-color: #f00;
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;

}

.feedback-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 286px;
    height: 286px;
    border-radius: 16px;
    object-fit: cover;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color);
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto auto;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    overflow: hidden;
}

.blog .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #ffffff;
    border-radius: 16px;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .item .btn {
    font-size: 1.4rem;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}

/* Footer */
.footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #ffffff;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright p {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}